.container {
    
    position: relative;
    display: flex;
    color: blue;
    
  }

.container p {
    position: absolute;
    font-size: 24px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ff00b3;
} 
#currentNo {
    position: absolute;
    font-size: 14px;
    top:4%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ff00b3;
    border-radius: 30px;
    border: 2px solid blue;
    margin: 5px;
    padding: 10px;
}

#photoList {
    font-size: 24px;
    border-radius: 15px;
    float:left;
    height: 100%; 
}
#left {
    font-size: 24px;
    width: min-content;
    margin: auto;
    padding: 10px;
    height:min-content;
    border-radius: 30px;
    background-color: yellowgreen;
    float:left;
}
#right {
    font-size: 24px;
    width: min-content;
    margin: auto;
    height:min-content;
    padding: 10px;
    border-radius:30px;
    background-color: yellowgreen;
    float:left;
}
#nav {
	font-size: 14px;
    width: max-content;
	margin: auto;
	height: max-content;
	background-color: #61B200;
	

}
.top-mid {
    position: absolute;
    top: 8px;
    left: 160px;
    /* display: flex; */
    color: #61B200;
  }

        ul.navUl{
        list-style-type:none;
        margin:0;
        padding: 0;
        overflow:hidden;
        }
    
        li.navLi{
        float:left;
        }
        
        button.navList{
        display:block;
        background-color:#ff00b3;
        color:white;
        width: 10vmax;
        text-align:center;
        border-radius: 20px;
        border: 1px solid blue;
        margin: auto;
        padding: 10px;
        text-decoration:none;
        }

        button.navListC{
            display:block;
            background-color:#FFA500;
            color:white;
            width: 10vmax;
            text-align:center;
            border-radius: 20px;
            border: 1px solid blue;
            margin: 10px;
            padding: 10px;
            text-decoration:none;
            }
            
            button.navListC:hover{
                color:red;
            }
    
            

/* #to_bottom {
    float:right;
    width:0;
    height:0;
    border-top: 10px solid skyblue;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin: 3px 25px 0px 10px;
} */



    